body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Navbar*/
.custom-navbar {
    background: #013220;
    box-shadow: none;
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
}

.nav-link,
.navbar-brand,
.btn-gold {
    color: #fff;
}

.nav-link:hover {
    color: #aaa049;
}

.navbar i {
    transition: color .3s ease;
}

.navbar i:hover {
    color: #aaa049;
}

.btn-gold {
    background-color: #aaa049;
    color: #013220;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-gold:hover {
    background-color: #d4b545;
    color: #ffffff;
}

.social-container {
    gap: 1rem;
}

.social-container i {
    font-size: 1.5rem;
}

/* Personalização do ícone do botão de colapso */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(240, 230, 140, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    border-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler:focus {
    box-shadow: 0 0 5px rgba(240, 230, 140, 0.8);
}

/*Imagens*/
.row.no-glutters {
    margin-left: 0;
    margin-right: 0;
}

.col-md-3 {
    padding: 0;
}

/*Ultimas noticias*/
.ultimas-noticias {
    background-color: #f8f8f8;
}

.ultimas-noticias h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.ultimas-noticias .atualizacoes {
    font-size: 1rem;
    color: #666;
}

.noticia-card {
    position: relative;
}

.noticia-card img {
    border-radius: 10px;
    object-fit: cover;
    height: 180px;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Sobreposição escura */
.noticia-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Escurece a imagem */
    border-radius: 10px;
    z-index: 1;
    /* Garante que o texto fique acima da sobreposição */
    transition: background-color .3s ease;
}

.noticia-card:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Estilo para a imagem maior */
.noticia-card-grande {
    height: 100%;
}

.noticia-card-grande img {
    height: 380px;
}

.noticia-texto {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    z-index: 2;
}

/* Estilo do botão */
.btn-gold {
    background-color: #f0e68c;
    color: #013220;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

.btn-gold:hover {
    background-color: #d4b545;
    color: #ffffff;
}

/* ExpoTV */
.expo-tv {
    background-color: #f7f1be;
    padding: 50px 0;
}

.expo-tv h2 {
    font-size: 2.5rem;
    color: #013220;
    font-weight: 400;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.expo-tv i {
    margin-top: 5px;
}

.video-maior {
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.video-maior img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.video-menor {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 300px; /* Altura fixa para vídeos menores */
}

.video-menor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #d4b545;
    transition: color 0.3s ease;
    z-index: 1;
}

.video-maior:hover .play-overlay,
.video-menor:hover .play-overlay {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.video-maior:hover img,
.video-menor:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/*Galeria de fotos*/
.galeria {
    padding: 20px;
    background-color: #005a39;
}

.galeria h2 {
    color: #fff;
}

.galeria img {
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    cursor: pointer;
    transition: filter .3s ease;
}

/* responsividade */
@media (max-width: 768px) {
    .custom-navbar .nav-link {
        text-align: center;
    }

    .social-container {
        flex-direction: column;
        align-items: center;
    }

    .social-container a {
        margin-bottom: 0.5rem;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav {
        justify-content: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .d-lg-flex {
        flex-direction: column;
        align-items: center;
    }

    .d-lg-flex .btn-gold {
        margin-top: 15px;
    }

    .galeria h2 {
        text-align: center;
    }
}